{% extends "default_user.html" %} {%block title%} Dashboard {% endblock %}
{%block content%}
<div class="container-fluid-fluid">
  <div class="row" style="--bs-gutter-x: 0.9rem !important">
    <div class="col-sm-3half">
      <div class="card">
        <div class="row title-dashboard mx-3">
          <div class="col-2"></div>
          <h4
            class="col-8 text-center"
            style="font-family: Gabriola; line-height: 1.4"
          >
            Your Wedding Details
          </h4>
          <div class="col-2 text-end">
            <a
              style="color: #ceb08d; text-decoration: none"
              href="/profile?setting=2"
              value="0"
              >Edit</a
            >
          </div>
        </div>

        <div class="row Wedding-Date-Location">
          <div class="col-lg-6 d-flex justify-content-end">
            <div
              class="col-1 wedding-calendar-logo"
              style="
                width: 30px;
                height: 30px;
                background: url('static/images/calendar.png') no-repeat;
                background-size: cover;
              "
            ></div>
            <span
              class="Wedding-Date-Location-labels"
              style="color: rgb(166, 166, 166)"
            >
              Wedding Date

              <div class="weddingDate">{{session['dateOfMarriage']}}</div>
            </span>
          </div>

          <div class="col-lg-6 d-flex justify-content-left mx-auto">
            <div
              class="col-1 wedding-location-logo"
              style="
                width: 21px;
                height: 31px;
                background: url('static/images/location.png') no-repeat;
                background-size: 100% 100%;
                background-position: center;
              "
            ></div>
            <span
              class="Wedding-Date-Location-labels"
              style="color: rgb(166, 166, 166)"
            >
              {{session['City']}},
              <div class="weddingCountry">{{session['Country']}}</div>
            </span>
          </div>
        </div>

        <div
          class="card"
          style="
            border: none !important;
            background-color: #fbf7f3 !important;
            color: rgb(166, 166, 166);
          "
        >
          <div class="row generalTab-box mx-3">
            <div class="col-lg-9">
              Wedding RSVPs Collected ({{TotalAttending}} of
              {{TotalInvitations}})
            </div>
            <div class="col-lg-3 text-end">
              <a class="GeneralTabView" href="/guestslist">View</a>
            </div>
          </div>
          <div class="row generalTab-box mx-3">
            <div class="col-lg-9 GeneralTabLabel">Card Drafts Started (3)</div>
            <div class="col-lg-3 text-end">
              <a class="GeneralTabView" href="/profile?setting=2">View</a>
            </div>
          </div>
          <div class="row generalTab-box mx-3">
            <div class="col-lg-9 GeneralTabLabel">
              Gifts Added({{session['registries']}})
            </div>
            <div class="col-lg-3 text-end">
              <a class="GeneralTabView" href="/registry">View</a>
            </div>
          </div>
          <div class="row generalTab-box mx-3">
            <div class="col-9 dash">Guests Added ({{TotalGuests}})</div>
            <div class="col-lg-3 text-end">
              <a class="GeneralTabView" href="/guestslist">View</a>
            </div>
          </div>
          <div class="row" style="border-radius: 0px !important">
            <div class="col-lg-12 pe-4 py-3" style="padding-left: 35px">
              <div class="row pb-3" style="color: rgb(166, 166, 166)">
                <div class="col-6 GeneralTabLabel">Website Visible ?</div>

                <div class="col-2 d-flex justify-content-end mb-3">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col-6 GeneralTabLabel">Preview Website</div>
                <div
                  class="col-2 d-flex justify-content-end"
                  style="padding-right: 18px"
                >
                  <a href="/profile?setting=2">
                    <div
                      style="
                        width: 25px;
                        height: 30px;
                        background: url('static/images/preview-tab.png')
                          no-repeat;
                        background-size: 100%;
                      "
                    ></div>
                  </a>
                </div>
                <div class="row px-0 mt-3">
                  <div class="col-lg-9"></div>
                  <button
                    class="col-lg-3 btn btn-primary text-white share fs-6"
                    style="
                      background-color: #e4d3c0;
                      font-size: 22px !important;
                      border: 1px solid rgb(206, 176, 141) !important;
                    "
                    data-bs-toggle="modal"
                    href="#exampleModalToggle"
                    role="button"
                  >
                    Share
                  </button>
                </div>
              </div>
              <div
                class="modal fade"
                data-bs-backdrop="false"
                id="exampleModalToggle"
                aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel"
                tabindex="-1"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div
                    class="modal-content"
                    style="
                      box-shadow: 2px 2px #beb7b7;
                      border-radius: 10px 10px;
                    "
                  >
                    <button
                      type="button"
                      class="close border-0 bg-white text-end mx-4"
                      style="color: #ceb08d"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true" style="font-size: 40px"
                        >&times;</span
                      >
                    </button>
                    <h5 class="text-center">Share your wesite</h5>
                    <div class="ms-5 mb-5 mt-4">
                      <p class="fs-5 d-inline">Your website URL</p>
                      <br />
                      <input
                        class="rounded-3 mb-2"
                        style="width: 48vh; border: 1px solid #ceb08d"
                        type="text"
                        name=""
                        id=""
                        placeholder="https://www.maryinthailand.com/wedding/daniandjamie
                      "
                      />
                      <button
                        type="button"
                        class="mx-1 btn btn-primary btn-sm fs-6"
                        data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal"
                        data-bs-dismiss="modal"
                      >
                        Copy URL
                      </button>
                    </div>
                    <p class="text-center fs-5">
                      Want to edit and manage your URLs?
                      <a
                        class="text-decoration-none fs-5"
                        style="color: #ceb08d"
                        href=""
                        >View Settings</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-sm-8half p-4 col-md-12 col-sm-12 bg-image"
      style="
        background: url('static/images/dashboard-background.png') no-repeat;
        background-size: cover;
        background-color: white;
        background-position: right;
        height: auto;
      "
    >
      <div class="mx-auto pt-lg-4">
        <div class="text-center pt-lg-5" style="color: #d1b594">
          <h1 class="pt-lg-5" style="font-size: xxx-large">
            {{session['groomFirstName']}} & {{session['brideFirstName']}}'s
            Wedding
          </h1>
        </div>
        <div class="text-center pt-lg-5">
          <h1 class="text-dark" style="font-size: xxx-large">48 days to go!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
