<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="./static/images/favicon.png" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css"
      integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid-fluid">
      <nav
        class="navbar navbar-expand-lg fixed-top navbar-light bg-light"
        id="navbar_top"
        style="background-color: rgb(251, 247, 243) !important"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav me-2 mb-2 mb-lg-0"
              id="nav"
              style="margin-left: 50vh"
            >
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dashboard"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vendors">Vendors</a>
              </li>
              <li class="nav-item mx-md-3">
                <a class="nav-link" href="/guestslist">Guests List</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Registry
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/gifts"
                      >Gifts</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/registry"
                      >Manage Registry</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Wedding Cards
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/invitation"
                      >Invitation</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/save_the_date"
                      >Save the Date</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/details"
                      >Details</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/rsvp"
                      >RSVP</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/wishing_well"
                      >Wishing well</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/thank_you"
                      >Thank you</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/table_number"
                      >Table Number</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/place_cards"
                      >Place Cards</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/menu"
                      >Menu</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Website
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/edit_template"
                      >Your Website</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/edit_template"
                      >Edit Pages</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item navigation-dropdown-color"
                      href="/invitation_website"
                      >View Designs</a
                    >
                  </li>
                </ul>
              </li>
              <div class="account" style="margin-left: 20vh">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Account
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/profile?setting=0"
                        >Your Personal Information</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/profile?setting=1"
                        >Contact Information</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/profile?setting=2"
                        >Wedding Details</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/profile?setting=3"
                        >Change Password</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/profile?setting=4"
                        >URLs</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/profile?setting=5"
                        >Privacy</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item navigation-dropdown-color"
                        href="/logout"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </nav>
      <header class="p-0 my-4 mt-5">
        <div
          class="d-flex justify-content-center pt-5"
          style="background-color: white !important"
        >
          <a href="/dashboard"
            ><img
              src="static/images/logo-latest.png"
              alt="Logo"
              style="width: 200px"
          /></a>
        </div>
      </header>
      <div class="px-3" style="padding-left: 0px !important">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>

  <script>
    $(function () {
      var current = location.pathname;

      $("#nav li a").each(function () {
        var $this = $(this);
        // if the current path is like this link, make it active
        if ($this.attr("href").indexOf(current) !== -1) {
          $this.addClass("active");
        }
      });
    });
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  {% block scriptPage %} {% endblock %}
</html>
