{% extends "default_user.html" %} {%block title%} Guests List {% endblock %}
{%block content%}

<div class="bg-white">
  <div class="row pt-4">
    <h3 class="text-center pb-4"><strong>Guests List</strong></h3>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="border-0 bg-white"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <img
          class="img-fluid"
          style="width: 20px; height: 20px"
          src="./static/images/add.png"
          alt=""
        />
        Add Guests
      </button>
      <a href=""
        ><img
          class="img-fluid ms-3 mt-2"
          style="width: 35px; height: 13px"
          src="./static/images/triple-dot.png"
          alt=""
      /></a>
    </div>
  </div>
  <!-- Add Guest Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    data-bs-backdrop="false"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-end border-0">
          <button
            type="button"
            class="close border-0 bg-white"
            style="color: #ceb08d"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" style="font-size: 40px">&times;</span>
          </button>
        </div>
        <h4 class="text-center"><strong>Add Guests</strong></h4>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn text-white w-100"
                onclick="showTab('1')"
              >
                Single People
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn text-white w-100"
                onclick="showTab('2')"
              >
                Couple
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn text-white w-100"
                onclick="showTab('3')"
              >
                Family
              </button>
            </div>
          </div>
          <form action="/guestslist" method="POST">
            <input id="opt" value="1" name="opt" hidden />
            <div class="row mt-2">
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputTitle1">Title</label>
                  <select
                    class="form-select"
                    id="inputTitle1"
                    name="inputTitle1"
                    aria-label="Default select example"
                  >
                    <option selected>Select</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Miss.">Miss.</option>
                    <option value="Mx.">Mx.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Judge">Judge</option>
                  </select>
                </div>
              </div>

              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputFirstName1">First Name</label>
                  <input
                    type="text"
                    class="px-2"
                    id="inputFirstName1"
                    name="inputFirstName1"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputLastName1">Last Name</label>
                  <input
                    type="text"
                    class="px-2"
                    id="inputLastName1"
                    name="inputLastName1"
                    required
                  />
                </div>
              </div>
            </div>
            <!-- This is the first input which is compulsory in all tabs -->

            <div id="tab2" style="display: none">
              <div class="row mt-2">
                <div class="col">
                  <div class="form-group label-floating">
                    <select
                      class="form-select"
                      name="inputTitle2"
                      aria-label="Default select example"
                    >
                      <option selected>Select</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Miss.">Miss.</option>
                      <option value="Mx.">Mx.</option>
                      <option value="Dr.">Dr.</option>
                      <option value="Judge">Judge</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group label-floating">
                    <input
                      type="text"
                      class="px-2"
                      id="inputFirstName2"
                      name="inputFirstName2"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group label-floating">
                    <input
                      type="text"
                      class="px-2"
                      id="inputLastName2"
                      name="inputLastName2"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="tab3" style="display: none">
              <div class="row mt-2">
                <div class="col">
                  <div class="form-group label-floating">
                    <select
                      class="form-select"
                      name="inputTitle3"
                      aria-label="Default select example"
                    >
                      <option selected>Select</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Miss.">Miss.</option>
                      <option value="Mx.">Mx.</option>
                      <option value="Dr.">Dr.</option>
                      <option value="Judge">Judge</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group label-floating">
                    <input
                      type="text"
                      class="px-2"
                      id="inputFirstName3"
                      name="inputFirstName3"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group label-floating">
                    <input
                      type="text"
                      class="px-2"
                      id="inputLastName3"
                      name="inputLastName3"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-3">
                <label>Invited?</label>
              </div>
              <div class="col-sm-7">
                <input
                  class="form-check-input"
                  type="radio"
                  name="invited"
                  id="option1"
                  value="Definetly"
                  checked="checked"
                />
                <label class="form-check-label px-2" for="option1"
                  >Definetly</label
                >

                <input
                  class="form-check-input"
                  type="radio"
                  name="invited"
                  id="option2"
                  value="Maybe"
                />
                <label class="form-check-label px-2" for="option2">Maybe</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputStreetAddress">Street Address</label>
                  <input
                    type="text"
                    class="px-2 w-100"
                    id="inputStreetAddress"
                    name="inputStreetAddress"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputAptFloor">Apt/Floor</label>
                  <input
                    type="text"
                    class="px-2 w-100"
                    id="inputAptFloor"
                    name="inputAptFloor"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputCity">City</label>
                  <input
                    type="text"
                    class="px-2 w-100"
                    id="inputCity"
                    name="inputCity"
                  />
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group label-floating">
                      <label for="inputStateProvince">State/Province</label>
                      <input
                        type="text"
                        class="px-2 w-100"
                        id="inputStateProvince"
                        name="inputStateProvince"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group label-floating">
                      <label for="inputZipCode">Zip Code</label>
                      <input
                        type="text"
                        class="px-2 w-100"
                        id="inputZipCode"
                        name="inputZipCode"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputCountry">Country</label>
                  <input
                    type="text"
                    class="px-2 w-100"
                    id="inputCountry"
                    name="inputCountry"
                  />
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputEmail">Email</label>
                  <input
                    type="email"
                    class="px-2 w-100"
                    id="inputEmail"
                    name="inputEmail"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group label-floating">
                  <label for="inputContactNumber">Mobile</label>
                  <input
                    type="text"
                    class="px-2 w-100"
                    id="inputContactNumber"
                    name="inputContactNumber"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                name="action"
                value="AddRow"
                class="btn text-white"
              >
                Save & Add Another
              </button>
              <button
                type="button"
                class="btn bg-white"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Modal  -->

  <div
    class="modal fade"
    id="UpdateModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
    data-bs-backdrop="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-end border-0">
          <button
            type="button"
            class="close border-0 bg-white"
            style="color: #ceb08d"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" style="font-size: 40px">&times;</span>
          </button>
        </div>
        <h4 class="text-center"><strong>Edit Guests</strong></h4>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn text-white w-100"
                onclick="showUpdateTab('1')"
              >
                Guests Info
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn text-white w-100"
                onclick="showUpdateTab('2')"
              >
                Contact Info
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn text-white w-100"
                onclick="showUpdateTab('3')"
              >
                RSVP Status
              </button>
            </div>
          </div>
          <form action="/guestslist" method="POST">
            <input type="text" id="option" name="option" hidden />
            <input type="text" id="total" name="inputTotal" hidden />

            <div id="UpdateTab1">
              <div class="updatetab">
                <div class="row mt-2">
                  <div class="col">
                    <div class="form-group label-floating">
                      <input type="text" id="GuestID1" name="GuestID1" hidden />
                      <label for="inputTitle1">Title</label>
                      <select
                        class="form-select"
                        id="Title1"
                        name="inputTitle1"
                        aria-label="Default select example"
                      >
                        <option selected>Select</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Miss.">Miss.</option>
                        <option value="Mx.">Mx.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Judge">Judge</option>
                      </select>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group label-floating">
                      <label for="inputFirstName1">First Name</label>
                      <input
                        type="text"
                        class="px-2"
                        id="FirstName1"
                        name="inputFirstName1"
                        required
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group label-floating">
                      <label for="inputLastName1">Last Name</label>
                      <input
                        type="text"
                        class="px-2"
                        id="LastName1"
                        name="inputLastName1"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- This is the first input which is compulsory in all tabs -->

              <div class="updatetab" style="display: none">
                <div class="row mt-2">
                  <div class="col">
                    <div class="form-group label-floating">
                      <input type="text" id="GuestID2" name="GuestID2" hidden />
                      <select
                        class="form-select"
                        name="inputTitle2"
                        id="Title2"
                        aria-label="Default select example"
                      >
                        <option selected>Select</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Miss.">Miss.</option>
                        <option value="Mx.">Mx.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Judge">Judge</option>
                      </select>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        class="px-2"
                        id="FirstName2"
                        name="inputFirstName2"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        class="px-2"
                        id="LastName2"
                        name="inputLastName2"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="updatetab" style="display: none">
                <div class="row mt-2">
                  <div class="col">
                    <div class="form-group label-floating">
                      <input type="text" id="GuestID3" name="GuestID3" hidden />
                      <select
                        class="form-select"
                        name="inputTitle3"
                        id="Title3"
                        aria-label="Default select example"
                      >
                        <option selected>Select</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Miss.">Miss.</option>
                        <option value="Mx.">Mx.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Judge">Judge</option>
                      </select>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        class="px-2"
                        id="FirstName3"
                        name="inputFirstName3"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        class="px-2"
                        id="LastName3"
                        name="inputLastName3"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-sm-3">
                  <label>Invited?</label>
                </div>
                <div class="col-sm-7">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inputInvited"
                    id="updateOption1"
                    value="Definetly"
                  />
                  <label class="form-check-label px-2" for="updateOption1"
                    >Definetly</label
                  >

                  <input
                    class="form-check-input"
                    type="radio"
                    name="inputInvited"
                    id="updateOption2"
                    value="Maybe"
                  />
                  <label class="form-check-label px-2" for="updateOption2"
                    >Maybe</label
                  >
                </div>
              </div>
            </div>
            <div id="UpdateTab2" style="display: none">
              <div class="row mt-2">
                <div class="col">
                  <div class="form-group label-floating">
                    <label for="inputStreetAddress">Street Address</label>
                    <input
                      type="text"
                      class="px-2 w-100"
                      id="StreetAddress"
                      name="inputStreetAddress"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group label-floating">
                    <label for="inputAptFloor">Apt/Floor</label>
                    <input
                      type="text"
                      class="px-2 w-100"
                      id="AptFloor"
                      name="inputAptFloor"
                    />
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <div class="form-group label-floating">
                    <label for="inputCity">City</label>
                    <input
                      type="text"
                      class="px-2 w-100"
                      id="City"
                      name="inputCity"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group label-floating">
                        <label for="inputStateProvince">State/Province</label>
                        <input
                          type="text"
                          class="px-2 w-100"
                          id="StateProvince"
                          name="inputStateProvince"
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group label-floating">
                        <label for="inputZipCode">Zip Code</label>
                        <input
                          type="text"
                          class="px-2 w-100"
                          id="ZipCode"
                          name="inputZipCode"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <div class="form-group label-floating">
                    <label for="inputCountry">Country</label>
                    <input
                      type="text"
                      class="px-2 w-100"
                      id="Country"
                      name="inputCountry"
                    />
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <div class="form-group label-floating">
                    <label for="inputEmail">Email</label>
                    <input
                      type="email"
                      class="px-2 w-100"
                      id="Email"
                      name="inputEmail"
                      required
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group label-floating">
                    <label for="inputContactNumber">Mobile</label>
                    <input
                      type="text"
                      class="px-2 w-100"
                      id="ContactNumber"
                      name="inputContactNumber"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="UpdateTab3" style="display: none">
              <div class="updateRSVP">
                <div class="row mt-2 p-5">
                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        id="Guest_ID1"
                        name="Guest_ID1"
                        hidden
                      />
                      <label id="Member1"></label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group label-floating">
                      <select
                        class="form-select"
                        id="Member1Status"
                        name="member1Status"
                        aria-label="Default select example"
                      >
                        <option value="Attending">Attending</option>
                        <option value="Not Attending">Not Attending</option>
                        <option value="Maybe">Maybe</option>
                        <option value="Not Replied">Not Replied</option>
                        <option value="Not Invited">Not Invited</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- This is the first input which is compulsory in all tabs -->

              <div class="updateRSVP">
                <div class="row mt-2 p-5 pt-2 pb-0">
                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        id="Guest_ID2"
                        name="Guest_ID2"
                        hidden
                      />
                      <label id="Member2"></label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group label-floating">
                      <select
                        class="form-select"
                        id="Member2Status"
                        name="member2Status"
                        aria-label="Default select example"
                      >
                        <option value="Attending">Attending</option>
                        <option value="Not Attending">Not Attending</option>
                        <option value="Maybe">Maybe</option>
                        <option value="Not Replied">Not Replied</option>
                        <option value="Not Invited">Not Invited</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="updateRSVP">
                <div class="row mt-2 p-5">
                  <div class="col">
                    <div class="form-group label-floating">
                      <input
                        type="text"
                        id="Guest_ID3"
                        name="Guest_ID3"
                        hidden
                      />
                      <label id="Member3"></label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group label-floating">
                      <select
                        class="form-select"
                        id="Member3Status"
                        name="member3Status"
                        aria-label="Default select example"
                      >
                        <option value="Attending">Attending</option>
                        <option value="Not Attending">Not Attending</option>
                        <option value="Maybe">Maybe</option>
                        <option value="Not Replied">Not Replied</option>
                        <option value="Not Invited">Not Invited</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                name="action"
                value="UpdateRow"
                class="btn text-white"
              >
                Save
              </button>
              <button
                type="button"
                class="btn bg-white"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Send Message Modal -->

  <div
    class="modal fade"
    id="MessageModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    data-bs-backdrop="false"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Message Guests</h5>
        </div>
        <form action="/guestslist" method="POST">
          <div class="modal-body">
            <input type="text" id="GuestID-Email" name="GuestID-Email" hidden />
            <div class="mb-3">
              <label for="recipient-email" class="col-form-label">To:</label>
              <input
                type="text"
                class="form-control"
                id="recipient-email"
                name="recipient-email"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="recipient-subject" class="col-form-label"
                >Subject:</label
              >
              <input
                type="text"
                placeholder="Ex: Reminder-title"
                class="form-control"
                id="recipient-subject"
                name="recipient-subject"
              />
            </div>
            <div class="mb-3">
              <label for="recipient-message" class="col-form-label"
                >Message:</label
              >
              <textarea
                placeholder="Enter your message"
                class="form-control"
                id="recipient-message"
                name="recipient-message"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="submit"
              name="action"
              value="SendMessage"
              class="btn btn-primary"
            >
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Showing Status Portion -->
  <!-- <div class="row mt-5" style="border-bottom: 1px solid #cccccc"></div> -->
  <div
    class="row justify-content-center"
    style="border: 1px solid #cccccc; border-top: none; border-right:none"
  >
    <div class="col-3" style="margin-top:53px; border-top:1px solid #cccccc;border-right:1px solid #cccccc;">
      <div class="row justify-content-center py-2">
        <div class="col-2 text-end" style="font-size: 30px">{{status[1]}}</div>
        <div class="col-6 py-2">
          <h4>Attending</h4>
        </div>
      </div>
      <div class="row justify-content-center pb-2">
        <div class="col-2 text-end" style="font-size: 30px">{{status[2]}}</div>
        <div class="col-6 py-2">
          <h4>Not Attending</h4>
        </div>
      </div>
      <div class="row justify-content-center pb-2">
        <div class="col-2 text-end" style="font-size: 30px">{{status[3]}}</div>
        <div class="col-6 py-2">
          <h4>Maybe</h4>
        </div>
      </div>
      <div class="row justify-content-center pb-2">
        <div class="col-2 text-end" style="font-size: 30px">{{status[0]}}</div>
        <div class="col-6 py-2">
          <h4>Not Replied</h4>
        </div>
      </div>
      <div class="row justify-content-center pb-2">
        <div class="col-2 text-end" style="font-size: 30px">{{status[5]}}</div>
        <div class="col-6 py-2">
          <h4>Not Invited</h4>
        </div>
      </div>
      <div class="row justify-content-center py-2 border">
        <div class="col-4 py-2 text-end">
          <h4>Total Invited</h4>
        </div>
        <div class="col-4 text-start" style="font-size: 30px">
          {{status[4]}}
        </div>
      </div>
    </div>

    <div
      class="col-9"
      style="border: none !important; padding:0px;"
    >
      <div class="table-responsive" style="border-top: none;" >
        <table class="table table-bordered w-200">
          <thead class="thead-dark">
            <tr style="border-style:none !important">
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Select</h4>
              </th>
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Status</h4>
              </th>
              <th
                scope="col "
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4 class="text-start" >Email & Mobile</h4>
              </th>
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Name</h4>
              </th>
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Total</h4>
              </th>
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Invited?</h4>
              </th>
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Message</h4>
              </th>
              <th
                scope="col"
                style="border-left: none; border-right: none; border-top: none"
              >
                <h4>Cancel</h4>
              </th>
            </tr>
          </thead>
          <tbody id="tbody" style="border-style:none !important; ">
            <!-- Code in script section -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scriptPage %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  var membersArray = [];
  var invitedDisplay = [];
  var StatusArray = [];
  var temp = "";
  var temp2 = "";
  var Guests = JSON.parse('{{Guests|tojson|safe}}');
  for (var key in Guests) {
    if (Guests.hasOwnProperty(key)) {
      for (var k in Guests[key]["members"]) {
        temp =
          temp +
          `<div><label>` +
          Guests[key]["members"][k]["Title"] +
          ` ` +
          Guests[key]["members"][k]["First Name"] +
          ` ` +
          Guests[key]["members"][k]["Last Name"] +
          `</label></div>`;
        temp2 =
          temp2 +
          `<div><label>` +
          Guests[key]["members"][k]["Status"] +
          `</label></div>`;
        //console.log(" loop is running")
      }
      if (Guests[key]["Invited"] == "Definetly") {
        invitedDisplay[key] =
          `<div class="col">
              <input
                class="form-check-input"
                type="radio"
                name="invited` +
          key +
          `"

                id="option1"
                value="Definetly"
                checked="checked"
                disabled
              />
              <label class="form-check-label" for="option1"
                >Definetly</label
              >

              <input
                class="form-check-input"
                type="radio"
                name="invited` +
          key +
          `"

                id="option2"
                value="Maybe"
                disabled
              />
              <label class="form-check-label px-2" for="option2">Maybe</label>
            </div>`;
      } else {
        invitedDisplay[key] =
          `<div class="col">
              <input
                class="form-check-input"
                type="radio"
                name="invited` +
          key +
          `"
                id="option1"
                value="Definetly"
                disabled
              />
              <label class="form-check-label" for="option1"
                >Definetly</label
              >

              <input
                class="form-check-input"
                type="radio"
                name="invited` +
          key +
          `"
                id="option2"
                value="Maybe"
                checked="checked"
                disabled
              />
              <label class="form-check-label px-2" for="option2">Maybe</label>
            </div>`;
      }
      membersArray[key] = temp;
      StatusArray[key] = temp2;
      temp = "<div>";
      temp2 = "<div>";
    }
  }
  //console.log( membersArray)

  //console.log(Object.keys(Guests).length)     // This is tell you how many data is present
  dataLength = Object.keys(Guests).length;
  //console.log(Guests[0])

  for (Guest_key in Guests) {
    $("tbody").append(
      `
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              aria-label="Checkbox for following text input"
              id="` +
        Guest_key +
        `"
              name="selectopt"
            />
          </td>

          <td class="UpdateClass" scope="row" data-bs-toggle="modal" data-bs-target="#UpdateModal"  data-bs-id="` +
        Guest_key +
        `"
          >
           ` +
        StatusArray[Guest_key] +
        `
          </td>

          <td class="UpdateClass" scope="row" data-bs-toggle="modal" data-bs-target="#UpdateModal"  data-bs-id="` +
        Guest_key +
        `"

          >
            <div><label>` +
        Guests[Guest_key]["email"] +
        `</label></div>

            <label>` +
        Guests[Guest_key]["phone"] +
        `</label>
          </td>

          <td class="UpdateClass" scope="row"  data-bs-id="` +
        Guest_key +
        `" 
          data-bs-toggle="modal" data-bs-target="#UpdateModal"
          >

            <div>
              ` +
        membersArray[Guest_key] +
        `
            </div>

          </td>

          <td class="UpdateClass" scope="row" data-bs-toggle="modal" data-bs-target="#UpdateModal"  data-bs-id="` +
        Guest_key +
        `"

          >
            <label>` +
        Guests[Guest_key]["Total"] +
        `</label>
          </td>
          <td class="UpdateClass" scope="row" data-bs-toggle="modal" data-bs-target="#UpdateModal"
          data-bs-id="` +
        Guest_key +
        `"
          >
            ` +
        invitedDisplay[Guest_key] +
        `
          </td >
          <td class= "Email-ID" scope="row" class="bg-white border-0 "
          data-bs-toggle="modal" data-bs-target="#MessageModal"  data-bs-id="` +
        Guest_key +
        `" >


                <img
                class="ms-3 my-3"
                  src="static/images/message-icon.png"
                  style="width: 30px"
                  alt=""
                />


          </td>
          <td scope="row" >
            <form action="/guestslist" method="POST">
              <input name="DeleteID" value="` +
        Guest_key +
        `" hidden />

              <button
                class="bg-white border-0"  
                type="submit"
                name="action"
                value="DeleteRow"
              >
                <img
                class="ms-2 my-2"
                  src="static/images/delete-icon.png"
                  style="width: 30px"
                  alt=""
                />
              </button>
            </form>
          </td>
        </tr>
      }
      );

    `
    );
  }

  // The above code is for showing guests

  var emailName = document.getElementsByClassName("Email-ID");

  Array.from(emailName).forEach(function (element) {
    element.addEventListener("click", function () {
      const section = element;
      const guestID = section.getAttribute("data-bs-id");
      const guestEmail = Guests[guestID]["email"];
      //console.log(guestEmail)
      document.getElementById("recipient-email").value = guestEmail;
      document.getElementById("GuestID-Email").value = guestID;
    });
  });

  var classname = document.getElementsByClassName("UpdateClass");
  Array.from(classname).forEach(function (element) {
    element.addEventListener("click", function () {
      const section = element;

      const guestID = section.getAttribute("data-bs-id");
      const streetAddress = Guests[guestID]["street address"];
      const AptFloor = Guests[guestID]["AptFloor"];
      const City = Guests[guestID]["City"];
      const Country = Guests[guestID]["Country"];
      const StateProvince = Guests[guestID]["StateProvince"];
      const ZipCode = Guests[guestID]["ZipCode"];
      const Invited = Guests[guestID]["Invited"];
      const email = Guests[guestID]["email"];
      const phone = Guests[guestID]["phone"];
      const Total = Guests[guestID]["Total"];

      members_Title = [];
      members_FirstName = [];
      members_LastName = [];
      members_Status = [];
      members_ID = [];
      var i = 0;
      //console.log(Guests[guestID]['members'])
      for (var k in Guests[guestID]["members"]) {
        members_Title[i] = Guests[guestID]["members"][k]["Title"];
        members_FirstName[i] = Guests[guestID]["members"][k]["First Name"];
        members_LastName[i] = Guests[guestID]["members"][k]["Last Name"];
        members_Status[i] = Guests[guestID]["members"][k]["Status"];
        members_ID[i] = Guests[guestID]["members"][k]["Guest_ID"];
        i++;
      }
      console.log(members_Title);

      // RSVP Below

      let y = 1;
      for (i = 0; i < Total; i++) {
        document.getElementById("Member" + y).innerHTML =
          members_Title[i] +
          " " +
          members_FirstName[i] +
          " " +
          members_LastName[i];
        document.getElementById("Member" + y + "Status").value =
          members_Status[i];
        document.getElementById("Guest_ID" + y).value = members_ID[i];

        y++;
      }

      let temp2 = 0;
      const updateRSVP = document.getElementsByClassName("updateRSVP");
      Array.from(updateRSVP).forEach(function (element) {
        if (temp2 < Total) {
          element.style.display = "block";
          temp2++;
        } else {
          element.style.display = "none";
        }
      });

      // Address and City Country below
      document.getElementById("option").value = guestID;
      document.getElementById("StreetAddress").value = streetAddress;
      document.getElementById("AptFloor").value = AptFloor;
      document.getElementById("City").value = City;
      document.getElementById("Country").value = Country;
      document.getElementById("StateProvince").value = StateProvince;
      document.getElementById("ZipCode").value = ZipCode;
      document.getElementById("Email").value = email;
      document.getElementById("total").value = Total;

      document.getElementById("ContactNumber").value = phone;

      // Invited Status below

      if (Invited == "Definetly") {
        document.getElementById("updateOption1").checked = true;
      } else {
        document.getElementById("updateOption2").checked = true;
      }

      // Guest Names below

      let x = 1;
      for (i = 0; i < Total; i++) {
        document.getElementById("Title" + x).value = members_Title[i];
        document.getElementById("FirstName" + x).value = members_FirstName[i];
        document.getElementById("LastName" + x).value = members_LastName[i];
        document.getElementById("GuestID" + x).value = members_ID[i];
        x++;
      }

      const updatetab = document.getElementsByClassName("updatetab");
      let temp = 0;

      // Input Fields belove
      Array.from(updatetab).forEach(function (element) {
        if (temp < Total) {
          element.style.display = "block";
          temp++;
        } else {
          element.style.display = "none";
        }
      });
      $("#UpdateModal").modal("show");

      // modal.find(".modal-title").text("New message to " + guestID);
    });
  });

  document.getElementById("tab1").style.display = "block";
  hideInput2();
  hideInput3();
  document.getElementById("tab2").style.display = "none";
  document.getElementById("tab3").style.display = "none";

  document.getElementById("UpdateTab1").style.display = "block";

  document.getElementById("UpdateTab2").style.display = "none";
  document.getElementById("UpdateTab3").style.display = "none";

  function showInput2() {
    document.getElementsByName("inputFirstName2").required = true;
    document.getElementsByName("inputLastName2").required = true;
    document.getElementsByName("inputTitle2").required = true;
  }
  function hideInput2() {
    document.getElementsByName("inputFirstName2").required = false;
    document.getElementsByName("inputLastName2").required = false;
    document.getElementsByName("inputTitle2").required = false;
  }
  function showInput3() {
    document.getElementsByName("inputFirstName3").required = true;
    document.getElementsByName("inputLastName3").required = true;
    document.getElementsByName("inputTitle3").required = true;
  }
  function hideInput3() {
    document.getElementsByName("inputFirstName3").required = false;
    document.getElementsByName("inputLastName3").required = false;
    document.getElementsByName("inputTitle3").required = false;
  }

  function showTab(option) {
    if (option === "1") {
      document.getElementById("opt").value = "1";
      hideInput2();
      hideInput3();
      document.getElementById("tab2").style.display = "none";
      document.getElementById("tab3").style.display = "none";
    } else if (option === "2") {
      document.getElementById("opt").value = "2";

      showInput2();
      hideInput3();
      document.getElementById("tab2").style.display = "block";
      document.getElementById("tab3").style.display = "none";
    } else {
      document.getElementById("opt").value = "3";
      showInput2();
      showInput3();
      document.getElementById("tab2").style.display = "block";
      document.getElementById("tab3").style.display = "block";
    }
  }

  function showUpdateTab(option) {
    if (option === "1") {
      document.getElementById("opt").value = "1";
      //hideInput2();
      //hideInput3();
      document.getElementById("UpdateTab1").style.display = "block";

      document.getElementById("UpdateTab2").style.display = "none";
      document.getElementById("UpdateTab3").style.display = "none";
    } else if (option === "2") {
      document.getElementById("opt").value = "2";

      // showInput2();
      //hideInput3();
      document.getElementById("UpdateTab2").style.display = "block";
      document.getElementById("UpdateTab1").style.display = "none";
      document.getElementById("UpdateTab3").style.display = "none";
    } else {
      document.getElementById("opt").value = "3";
      // showInput2();
      // showInput3();
      document.getElementById("UpdateTab1").style.display = "none";
      document.getElementById("UpdateTab2").style.display = "none";
      document.getElementById("UpdateTab3").style.display = "block";
    }
  }
</script>

{% endblock %}
